In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer, IterativeImputer

In [4]:
fall_n = pd.read_csv('C:/Users/LG/Downloads/fall_new.csv')

In [5]:
fall=fall_n.drop(['Unnamed: 0.1','Unnamed: 0','sunriseh','sunrisem','sunseth','sunsetm','ww'],axis = 1)

In [6]:
def get_outlier(df=None, column=None, weight=1.5):
  df['a']=True
  # target 값과 상관관계가 높은 열을 우선적으로 진행
  quantile_25 = np.percentile(df[column].values, 25)
  quantile_75 = np.percentile(df[column].values, 75)

  IQR = quantile_75 - quantile_25
  IQR_weight = IQR*weight
  
  lowest = quantile_25 - IQR_weight
  highest = quantile_75 + IQR_weight
  df['a'][ (df[column] <= lowest) | (df[column] >= highest) ]= False

In [173]:
get_outlier(df=fall,column='ts',weight=1.5)

C:\Users\LG\AppData\Local\Temp\ipykernel_16780\3683680579.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['a'][ (df[column] <= lowest) | (df[column] >= highest) ]= False

In [174]:
fall['ts'][fall['a'] == False] = np.nan

C:\Users\LG\AppData\Local\Temp\ipykernel_16780\1154575440.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fall['ts'][fall['a'] == False] = np.nan

In [183]:
fall1=fall.drop(['year'],axis = 1)

In [184]:
imputer_mice = IterativeImputer(random_state=42)
imputer_mice.fit(fall1)
fall1 = pd.DataFrame(imputer_mice.transform(fall1), columns=fall1.columns)

In [185]:
fall['ts']=fall1['ts']

In [186]:
fall

,stn,year,ta,td,hm,ws,rn,re,ts,si,ss,sn,mm,dd,hh,a
0,1,A,17.2,16.5,95.5,1.5,0.000000,0.0,16.6,0.0,0.0,0.0,9,1,0,True
1,1,A,16.4,16.1,98.0,1.4,0.000000,0.0,16.0,0.0,0.0,0.0,9,1,1,True
2,1,A,16.0,15.9,99.2,1.1,0.000000,0.0,15.4,0.0,0.0,0.0,9,1,2,True
3,1,A,15.5,15.4,99.8,1.1,0.000000,0.0,15.0,0.0,0.0,0.0,9,1,3,True
4,1,A,15.2,15.2,99.5,0.8,0.000000,0.0,14.6,0.0,0.0,0.0,9,1,4,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109009,10,E,8.6,4.2,73.8,8.4,0.100000,27.0,8.6,0.0,0.0,0.0,11,30,19,True
109010,10,E,7.4,1.3,65.4,6.3,0.006855,0.0,7.1,0.0,0.0,0.0,11,30,20,True
109011,10,E,6.8,-1.3,56.3,8.2,0.000000,0.0,5.9,0.0,0.0,0.0,11,30,21,True
109012,10,E,6.0,-1.3,59.3,6.8,0.000000,0.0,5.2,0.0,0.0,0.0,11,30,22,True
109013,10,E,5.8,-1.3,60.0,7.2,0.000000,0.0,5.2,0.0,0.0,0.0,11,30,23,True

In [187]:
fall.isna().sum()

stn     0
year    0
ta      0
td      0
hm      0
ws      0
rn      0
re      0
ts      0
si      0
ss      0
sn      0
mm      0
dd      0
hh      0
a       0
dtype: int64