In [2]:
import pandas as pd

In [3]:
fall = pd.read_csv('C:/Users/LG/Downloads/fall.csv')
winter = pd.read_csv('C:/Users/LG/Downloads/winter.csv')
fall_test = pd.read_csv('C:/Users/LG/Downloads/fall_test.csv')
winter_test = pd.read_csv('C:/Users/LG/Downloads/winter_test.csv')

In [4]:
fall

,Unnamed: 0,stn,year,ta,td,hm,ws,rn,re,ww,...,si,ss,sn,mm,dd,hh,sunriseh,sunrisem,sunseth,sunsetm
0,5086,1,A,17.2,16.5,95.5,1.5,0.0,0.0,C,...,NaN,NaN,NaN,9,1,0,6,2,19,2
1,5087,1,A,16.4,16.1,98.0,1.4,0.0,0.0,C,...,NaN,NaN,NaN,9,1,1,6,2,19,2
2,5088,1,A,16.0,15.9,99.2,1.1,0.0,0.0,C,...,NaN,NaN,NaN,9,1,2,6,2,19,2
3,5089,1,A,15.5,15.4,99.8,1.1,0.0,0.0,C,...,NaN,NaN,NaN,9,1,3,6,2,19,2
4,5090,1,A,15.2,15.2,99.5,0.8,0.0,0.0,C,...,NaN,NaN,NaN,9,1,4,6,2,19,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109009,436121,10,E,8.6,4.2,73.8,8.4,0.1,27.0,R,...,NaN,NaN,NaN,11,30,19,7,27,17,14
109010,436122,10,E,7.4,1.3,65.4,6.3,NaN,0.0,C,...,NaN,NaN,NaN,11,30,20,7,27,17,14
109011,436123,10,E,6.8,-1.3,56.3,8.2,0.0,0.0,C,...,NaN,NaN,NaN,11,30,21,7,27,17,14
109012,436124,10,E,6.0,-1.3,59.3,6.8,0.0,0.0,C,...,NaN,NaN,NaN,11,30,22,7,27,17,14
109013,436125,10,E,5.8,-1.3,60.0,7.2,0.0,0.0,C,...,NaN,NaN,NaN,11,30,23,7,27,17,14

In [6]:
fall_test

,stn,year,ta,td,hm,ws,rn,re,ww,si,ss,sn,mm,dd,hh,sunriseh,sunrisem,sunseth,sunsetm
0,a,F,21.9,18.8,82.8,1.2,0.0,0.0,C,NaN,NaN,NaN,9,1,0,6,2,19,2
1,a,F,21.3,18.1,82.2,1.2,0.0,0.0,C,NaN,NaN,NaN,9,1,1,6,2,19,2
2,a,F,20.9,17.7,82.0,1.4,0.0,0.0,G,NaN,NaN,NaN,9,1,2,6,2,19,2
3,a,F,20.7,17.8,83.6,1.4,0.0,0.0,C,NaN,NaN,NaN,9,1,3,6,2,19,2
4,a,F,20.4,17.7,84.8,1.3,0.0,0.0,C,NaN,NaN,NaN,9,1,4,6,2,19,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6547,c,F,1.5,-15.8,26.2,2.7,0.0,0.0,C,NaN,NaN,NaN,11,30,19,7,27,17,14
6548,c,F,1.3,-16.8,24.6,5.3,0.0,0.0,C,NaN,NaN,NaN,11,30,20,7,27,17,14
6549,c,F,0.8,-17.8,23.6,4.6,NaN,0.0,C,NaN,NaN,NaN,11,30,21,7,27,17,14
6550,c,F,0.2,-16.8,26.6,9.1,NaN,0.0,C,NaN,NaN,NaN,11,30,22,7,27,17,14
6551,c,F,-0.2,-17.3,26.2,4.1,NaN,0.0,C,NaN,NaN,NaN,11,30,23,7,27,17,14

In [11]:
#일몰 이후 0
fall.loc[(fall['hh'] <= fall['sunriseh']) |
         (fall['hh'] >= fall['sunseth']) &
         (fall['si'].isna()), 'si'] = 0

fall_test.loc[(fall_test['hh'] <= fall_test['sunriseh']) |
         (fall_test['hh'] >= fall_test['sunseth']) &
         (fall_test['si'].isna()), 'si'] = 0

In [12]:
fall.loc[(fall['hh'] <= fall['sunriseh']) |
         (fall['hh'] >= fall['sunseth']) &
         (fall['ss'].isna()), 'ss'] = 0

fall_test.loc[(fall_test['hh'] <= fall_test['sunriseh']) |
         (fall_test['hh'] >= fall_test['sunseth']) &
         (fall_test['ss'].isna()), 'ss'] = 0

In [13]:
# 가을은 결측값 모두 0 
fall.loc[(fall['sn'].isna()), 'sn'] = 0
fall_test.loc[(fall_test['sn'].isna()), 'sn'] = 0

In [15]:
#일사, 일조량 평균
simean=fall.loc[fall['ww'] == 'C','si'].mean()
simean2=fall.loc[fall['ww'] != 'C','si'].mean()
ssmean=fall.loc[fall['ww'] == 'C','ss'].mean()
ssmean2=fall.loc[fall['ww'] != 'C','ss'].mean()

In [16]:
fall.loc[(fall['ww']=='C') &
         (fall['si'].isna()), 'si'] = simean
fall.loc[(fall['ww']!='C') &
         (fall['si'].isna()), 'si'] = simean2

fall_test.loc[(fall_test['ww']=='C') &
         (fall_test['si'].isna()), 'si'] = simean
fall_test.loc[(fall_test['ww']!='C') &
         (fall_test['si'].isna()), 'si'] = simean2

In [18]:
fall.loc[(fall['ww']=='C') &
         (fall['ss'].isna()), 'ss'] = ssmean
fall.loc[(fall['ww']!='C') &
         (fall['ss'].isna()), 'ss'] = ssmean2

fall_test.loc[(fall_test['ww']=='C') &
         (fall_test['ss'].isna()), 'ss'] = ssmean
fall_test.loc[(fall_test['ww']!='C') &
         (fall_test['ss'].isna()), 'ss'] = ssmean2

In [20]:
#강수량 / 강수 시간 평균 
rnmean=fall.loc[fall['ww'] == 'R','rn'].mean()
rnmean2=fall.loc[(fall['ww'] == 'F') | (fall['ww'] == 'H'),'rn'].mean()
rnmean3=fall.loc[(fall['ww'] != 'R') & 
                 (fall['ww'] != 'F') & (fall['ww'] != 'H'),'rn'].mean()

remean=fall.loc[fall['ww'] == 'R','re'].mean()
remean2=fall.loc[(fall['ww'] == 'F') | (fall['ww'] == 'H'),'re'].mean()
remean3=fall.loc[(fall['ww'] != 'R') & 
                 (fall['ww'] != 'F') & (fall['ww'] != 'H'),'re'].mean()

In [21]:
fall.loc[(fall['ww']=='R') &
         (fall['rn'].isna()), 'rn'] = rnmean
fall.loc[(fall['ww'] == 'F') | (fall['ww'] == 'H') &
         (fall['rn'].isna()), 'rn'] = rnmean2
fall.loc[(fall['ww'] != 'R') & 
         (fall['ww'] != 'F') & (fall['ww'] != 'H') &
         (fall['rn'].isna()), 'rn'] = rnmean3


fall_test.loc[(fall_test['ww']=='R') &
         (fall_test['rn'].isna()), 'rn'] = rnmean
fall_test.loc[(fall_test['ww'] == 'F') | (fall['ww'] == 'H') &
         (fall_test['rn'].isna()), 'rn'] = rnmean2
fall_test.loc[(fall_test['ww'] != 'R') & 
         (fall_test['ww'] != 'F') & (fall['ww'] != 'H') &
         (fall_test['rn'].isna()), 'rn'] = rnmean3

In [23]:
fall.loc[(fall['ww']=='R') &
         (fall['re'].isna()), 're'] = remean
fall.loc[(fall['ww'] == 'F') | (fall['ww'] == 'H') &
         (fall['re'].isna()), 're'] = remean2
fall.loc[(fall['ww'] != 'R') & 
         (fall['ww'] != 'F') & (fall['ww'] != 'H') &
         (fall['re'].isna()), 're'] = remean3


fall_test.loc[(fall_test['ww']=='R') &
         (fall_test['re'].isna()), 're'] = remean
fall_test.loc[(fall_test['ww'] == 'F') | (fall['ww'] == 'H') &
         (fall_test['re'].isna()), 're'] = remean2
fall_test.loc[(fall_test['ww'] != 'R') & 
         (fall_test['ww'] != 'F') & (fall['ww'] != 'H') &
         (fall_test['re'].isna()), 're'] = remean3

In [26]:
#기온 
tamean=fall['ta'].mean()
fall.loc[fall['ta'].isna(), 'ta'] = tamean

fall_test.loc[fall_test['ta'].isna(), 'ta'] = tamean

In [27]:
#이슬점 온도 
tdmean=fall['td'].mean()
fall.loc[fall['td'].isna(), 'td'] = tdmean

fall_test.loc[fall_test['td'].isna(), 'td'] = tdmean

In [28]:
#상대습도
hmmean=fall['hm'].mean()
fall.loc[fall['hm'].isna(), 'hm'] = hmmean

fall_test.loc[fall_test['hm'].isna(), 'hm'] = hmmean

In [29]:
#풍속
wsmean=fall['ws'].mean()
fall.loc[fall['ws'].isna(), 'ws'] = wsmean

fall_test.loc[fall_test['ws'].isna(), 'ws'] = wsmean

In [30]:
fall.isna().sum()

Unnamed: 0    0
stn           0
year          0
ta            0
td            0
hm            0
ws            0
rn            0
re            0
ww            0
ts            0
si            0
ss            0
sn            0
mm            0
dd            0
hh            0
sunriseh      0
sunrisem      0
sunseth       0
sunsetm       0
dtype: int64

In [32]:
fall_test.isna().sum()

stn         0
year        0
ta          0
td          0
hm          0
ws          0
rn          0
re          0
ww          0
si          0
ss          0
sn          0
mm          0
dd          0
hh          0
sunriseh    0
sunrisem    0
sunseth     0
sunsetm     0
dtype: int64

In [33]:
fall

,Unnamed: 0,stn,year,ta,td,hm,ws,rn,re,ww,...,si,ss,sn,mm,dd,hh,sunriseh,sunrisem,sunseth,sunsetm
0,5086,1,A,17.2,16.5,95.5,1.5,0.000000,0.0,C,...,0.0,0.0,0.0,9,1,0,6,2,19,2
1,5087,1,A,16.4,16.1,98.0,1.4,0.000000,0.0,C,...,0.0,0.0,0.0,9,1,1,6,2,19,2
2,5088,1,A,16.0,15.9,99.2,1.1,0.000000,0.0,C,...,0.0,0.0,0.0,9,1,2,6,2,19,2
3,5089,1,A,15.5,15.4,99.8,1.1,0.000000,0.0,C,...,0.0,0.0,0.0,9,1,3,6,2,19,2
4,5090,1,A,15.2,15.2,99.5,0.8,0.000000,0.0,C,...,0.0,0.0,0.0,9,1,4,6,2,19,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109009,436121,10,E,8.6,4.2,73.8,8.4,0.100000,27.0,R,...,0.0,0.0,0.0,11,30,19,7,27,17,14
109010,436122,10,E,7.4,1.3,65.4,6.3,0.006855,0.0,C,...,0.0,0.0,0.0,11,30,20,7,27,17,14
109011,436123,10,E,6.8,-1.3,56.3,8.2,0.000000,0.0,C,...,0.0,0.0,0.0,11,30,21,7,27,17,14
109012,436124,10,E,6.0,-1.3,59.3,6.8,0.000000,0.0,C,...,0.0,0.0,0.0,11,30,22,7,27,17,14
109013,436125,10,E,5.8,-1.3,60.0,7.2,0.000000,0.0,C,...,0.0,0.0,0.0,11,30,23,7,27,17,14

In [34]:
fall_test

,stn,year,ta,td,hm,ws,rn,re,ww,si,ss,sn,mm,dd,hh,sunriseh,sunrisem,sunseth,sunsetm
0,a,F,21.9,18.8,82.8,1.2,0.000000,0.0,C,0.0,0.0,0.0,9,1,0,6,2,19,2
1,a,F,21.3,18.1,82.2,1.2,0.000000,0.0,C,0.0,0.0,0.0,9,1,1,6,2,19,2
2,a,F,20.9,17.7,82.0,1.4,0.000000,0.0,G,0.0,0.0,0.0,9,1,2,6,2,19,2
3,a,F,20.7,17.8,83.6,1.4,0.000000,0.0,C,0.0,0.0,0.0,9,1,3,6,2,19,2
4,a,F,20.4,17.7,84.8,1.3,0.000000,0.0,C,0.0,0.0,0.0,9,1,4,6,2,19,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6547,c,F,1.5,-15.8,26.2,2.7,0.000000,0.0,C,0.0,0.0,0.0,11,30,19,7,27,17,14
6548,c,F,1.3,-16.8,24.6,5.3,0.000000,0.0,C,0.0,0.0,0.0,11,30,20,7,27,17,14
6549,c,F,0.8,-17.8,23.6,4.6,0.006855,0.0,C,0.0,0.0,0.0,11,30,21,7,27,17,14
6550,c,F,0.2,-16.8,26.6,9.1,0.006855,0.0,C,0.0,0.0,0.0,11,30,22,7,27,17,14
6551,c,F,-0.2,-17.3,26.2,4.1,0.006855,0.0,C,0.0,0.0,0.0,11,30,23,7,27,17,14

In [ ]:
############### winter #################

In [35]:
winter

,Unnamed: 0,stn,year,ta,td,hm,ws,rn,re,ww,...,si,ss,sn,mm,dd,hh,sunriseh,sunrisem,sunseth,sunsetm
0,1,1,A,-9.9,-10.7,93.9,0.6,0.0,0.0,H,...,NaN,NaN,NaN,2,1,0,7,36,17,55
1,2,1,A,-10.8,-11.6,93.8,0.6,0.0,0.0,H,...,NaN,NaN,NaN,2,1,1,7,36,17,55
2,3,1,A,-11.4,-12.1,94.6,0.7,0.0,0.0,H,...,NaN,NaN,NaN,2,1,2,7,36,17,55
3,4,1,A,-11.6,-12.5,93.4,0.6,0.0,0.0,H,...,NaN,NaN,NaN,2,1,3,7,36,17,55
4,5,1,A,-11.8,-12.7,93.0,0.6,0.0,0.0,H,...,NaN,NaN,NaN,2,1,4,7,36,17,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108124,437609,10,F,5.7,-7.2,39.2,3.9,0.0,0.0,C,...,NaN,NaN,NaN,1,31,19,7,37,17,54
108125,437610,10,F,5.2,-8.0,38.1,4.9,0.0,0.0,C,...,NaN,NaN,NaN,1,31,20,7,37,17,54
108126,437611,10,F,4.6,-7.9,39.8,6.6,0.0,0.0,C,...,NaN,NaN,NaN,1,31,21,7,37,17,54
108127,437612,10,F,3.6,-6.6,47.4,7.1,0.0,0.0,C,...,NaN,NaN,NaN,1,31,22,7,37,17,54
108128,437613,10,F,2.9,-6.6,49.7,4.8,0.0,0.0,C,...,NaN,NaN,NaN,1,31,23,7,37,17,54

In [36]:
winter_test

,stn,year,ta,td,hm,ws,rn,re,ww,si,ss,sn,mm,dd,hh,sunriseh,sunrisem,sunseth,sunsetm
0,a,F,0.6,-2.0,82.5,2.7,0.0,0.0,G,NaN,NaN,3.1,2,1,0,7,36,17,55
1,a,F,0.0,-5.2,68.3,3.2,0.0,0.0,R,NaN,NaN,3.1,2,1,1,7,36,17,55
2,a,F,-0.3,-6.4,63.7,2.7,0.0,0.0,C,NaN,NaN,3.1,2,1,2,7,36,17,55
3,a,F,-1.0,-4.5,77.2,2.1,0.2,7.0,R,NaN,NaN,4.1,2,1,3,7,36,17,55
4,a,F,-1.4,-3.1,88.3,2.9,0.6,3.0,R,NaN,NaN,4.7,2,1,4,7,36,17,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6475,c,G,7.1,-1.9,53.0,5.7,0.0,0.0,C,NaN,NaN,NaN,1,31,19,7,37,17,54
6476,c,G,6.7,-0.5,60.1,4.7,0.0,0.0,C,NaN,NaN,NaN,1,31,20,7,37,17,54
6477,c,G,6.2,-0.1,63.9,3.7,0.0,0.0,C,NaN,NaN,NaN,1,31,21,7,37,17,54
6478,c,G,6.5,0.8,67.1,4.8,0.0,0.0,C,NaN,NaN,NaN,1,31,22,7,37,17,54
6479,c,G,6.4,0.9,68.0,4.1,0.0,0.0,C,NaN,NaN,NaN,1,31,23,7,37,17,54

In [37]:
winter.loc[(winter['hh'] <= winter['sunriseh']) |
           (winter['hh'] >= winter['sunseth']) &
           (winter['si'].isna()), 'si'] = 0


winter_test.loc[(winter_test['hh'] <= winter_test['sunriseh']) |
           (winter_test['hh'] >= winter_test['sunseth']) &
           (winter_test['si'].isna()), 'si'] = 0

In [38]:
winter.loc[(winter['hh'] <= winter['sunriseh']) |
           (winter['hh'] >= winter['sunseth']) &
           (winter['ss'].isna()), 'ss'] = 0


winter_test.loc[(winter_test['hh'] <= winter_test['sunriseh']) |
           (winter_test['hh'] >= winter_test['sunseth']) &
           (winter_test['ss'].isna()), 'ss'] = 0

In [39]:
winter.loc[(winter['sn'].isna()) &
           (winter['ww'] != 'S'), 'sn'] = 0

winter_test.loc[(winter_test['sn'].isna()) &
           (winter_test['ww'] != 'S'), 'sn'] = 0

In [40]:
#일사, 일조량 평균
simean=winter.loc[winter['ww'] == 'C','si'].mean()
simean2=winter.loc[winter['ww'] != 'C','si'].mean()
ssmean=winter.loc[winter['ww'] == 'C','ss'].mean()
ssmean2=winter.loc[winter['ww'] != 'C','ss'].mean()

In [41]:
winter.loc[(winter['ww']=='C') &
         (winter['si'].isna()), 'si'] = simean
winter.loc[(winter['ww']!='C') &
         (winter['si'].isna()), 'si'] = simean2


winter_test.loc[(winter_test['ww']=='C') &
         (winter_test['si'].isna()), 'si'] = simean
winter_test.loc[(winter_test['ww']!='C') &
         (winter_test['si'].isna()), 'si'] = simean2

In [42]:
winter.loc[(winter['ww']=='C') &
         (winter['ss'].isna()), 'ss'] = ssmean
winter.loc[(winter['ww']!='C') &
         (winter['ss'].isna()), 'ss'] = ssmean2


winter_test.loc[(winter_test['ww']=='C') &
         (winter_test['ss'].isna()), 'ss'] = ssmean
winter_test.loc[(winter_test['ww']!='C') &
         (winter_test['ss'].isna()), 'ss'] = ssmean2

In [43]:
#강수량 / 강수 시간 평균 
rnmean=winter.loc[winter['ww'] == 'R','rn'].mean()
rnmean2=winter.loc[(winter['ww'] == 'F') | (winter['ww'] == 'H'),'rn'].mean()
rnmean3=winter.loc[(winter['ww'] != 'R') & 
                 (winter['ww'] != 'F') & (winter['ww'] != 'H'),'rn'].mean()

remean=winter.loc[winter['ww'] == 'R','re'].mean()
remean2=winter.loc[(winter['ww'] == 'F') | (winter['ww'] == 'H'),'re'].mean()
remean3=winter.loc[(winter['ww'] != 'R') & 
                 (winter['ww'] != 'F') & (winter['ww'] != 'H'),'re'].mean()

In [46]:
winter.loc[(winter['ww']=='R') &
         (winter['rn'].isna()), 'rn'] = rnmean
winter.loc[(winter['ww'] == 'F') | (winter['ww'] == 'H') &
         (winter['rn'].isna()), 'rn'] = rnmean2
winter.loc[(winter['ww'] != 'R') & 
         (winter['ww'] != 'F') & (winter['ww'] != 'H') &
         (winter['rn'].isna()), 'rn'] = rnmean3



winter_test.loc[(winter_test['ww']=='R') &
         (winter_test['rn'].isna()), 'rn'] = rnmean
winter_test.loc[(winter_test['ww'] == 'F') | (winter_test['ww'] == 'H') &
         (winter_test['rn'].isna()), 'rn'] = rnmean2
winter_test.loc[(winter_test['ww'] != 'R') & 
         (winter_test['ww'] != 'F') & (winter_test['ww'] != 'H') &
         (winter_test['rn'].isna()), 'rn'] = rnmean3

In [47]:
winter.loc[(winter['ww']=='R') &
         (winter['re'].isna()), 're'] = remean
winter.loc[(winter['ww'] == 'F') | (winter['ww'] == 'H') &
         (winter['re'].isna()), 're'] = remean2
winter.loc[(winter['ww'] != 'R') & 
         (winter['ww'] != 'F') & (winter['ww'] != 'H') &
         (winter['re'].isna()), 're'] = remean3


winter_test.loc[(winter_test['ww']=='R') &
         (winter_test['re'].isna()), 're'] = remean
winter_test.loc[(winter_test['ww'] == 'F') | (winter_test['ww'] == 'H') &
         (winter_test['re'].isna()), 're'] = remean2
winter_test.loc[(winter_test['ww'] != 'R') & 
         (winter_test['ww'] != 'F') & (winter_test['ww'] != 'H') &
         (winter_test['re'].isna()), 're'] = remean3

In [48]:
#기온 
tamean=winter['ta'].mean()
winter.loc[winter['ta'].isna(), 'ta'] = tamean

winter_test.loc[winter_test['ta'].isna(), 'ta'] = tamean

In [49]:
#이슬점 온도 
tdmean=winter['td'].mean()
winter.loc[winter['td'].isna(), 'td'] = tdmean

winter_test.loc[winter_test['td'].isna(), 'td'] = tdmean

In [50]:
#상대습도
hmmean=winter['hm'].mean()
winter.loc[winter['hm'].isna(), 'hm'] = hmmean

winter_test.loc[winter_test['hm'].isna(), 'hm'] = hmmean

In [51]:
#풍속
wsmean=winter['ws'].mean()
winter.loc[winter['ws'].isna(), 'ws'] = wsmean

winter_test.loc[winter_test['ws'].isna(), 'ws'] = wsmean

In [52]:
snmean=winter.loc[winter['ww'] == 'S','sn'].mean()
winter.loc[(winter['ww']=='S') &
           winter['sn'].isna(),'sn'] = snmean

winter_test.loc[(winter_test['ww']=='S') &
           winter_test['sn'].isna(),'sn'] = snmean

In [53]:
winter.isna().sum()

Unnamed: 0    0
stn           0
year          0
ta            0
td            0
hm            0
ws            0
rn            0
re            0
ww            0
ts            0
si            0
ss            0
sn            0
mm            0
dd            0
hh            0
sunriseh      0
sunrisem      0
sunseth       0
sunsetm       0
dtype: int64

In [54]:
winter_test.isna().sum()

stn         0
year        0
ta          0
td          0
hm          0
ws          0
rn          0
re          0
ww          0
si          0
ss          0
sn          0
mm          0
dd          0
hh          0
sunriseh    0
sunrisem    0
sunseth     0
sunsetm     0
dtype: int64

In [55]:
winter

,Unnamed: 0,stn,year,ta,td,hm,ws,rn,re,ww,...,si,ss,sn,mm,dd,hh,sunriseh,sunrisem,sunseth,sunsetm
0,1,1,A,-9.9,-10.7,93.9,0.6,0.0,0.0,H,...,0.0,0.0,0.0,2,1,0,7,36,17,55
1,2,1,A,-10.8,-11.6,93.8,0.6,0.0,0.0,H,...,0.0,0.0,0.0,2,1,1,7,36,17,55
2,3,1,A,-11.4,-12.1,94.6,0.7,0.0,0.0,H,...,0.0,0.0,0.0,2,1,2,7,36,17,55
3,4,1,A,-11.6,-12.5,93.4,0.6,0.0,0.0,H,...,0.0,0.0,0.0,2,1,3,7,36,17,55
4,5,1,A,-11.8,-12.7,93.0,0.6,0.0,0.0,H,...,0.0,0.0,0.0,2,1,4,7,36,17,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108124,437609,10,F,5.7,-7.2,39.2,3.9,0.0,0.0,C,...,0.0,0.0,0.0,1,31,19,7,37,17,54
108125,437610,10,F,5.2,-8.0,38.1,4.9,0.0,0.0,C,...,0.0,0.0,0.0,1,31,20,7,37,17,54
108126,437611,10,F,4.6,-7.9,39.8,6.6,0.0,0.0,C,...,0.0,0.0,0.0,1,31,21,7,37,17,54
108127,437612,10,F,3.6,-6.6,47.4,7.1,0.0,0.0,C,...,0.0,0.0,0.0,1,31,22,7,37,17,54
108128,437613,10,F,2.9,-6.6,49.7,4.8,0.0,0.0,C,...,0.0,0.0,0.0,1,31,23,7,37,17,54

In [56]:
winter_test

,stn,year,ta,td,hm,ws,rn,re,ww,si,ss,sn,mm,dd,hh,sunriseh,sunrisem,sunseth,sunsetm
0,a,F,0.6,-2.0,82.5,2.7,0.0,0.0,G,0.0,0.0,3.1,2,1,0,7,36,17,55
1,a,F,0.0,-5.2,68.3,3.2,0.0,0.0,R,0.0,0.0,3.1,2,1,1,7,36,17,55
2,a,F,-0.3,-6.4,63.7,2.7,0.0,0.0,C,0.0,0.0,3.1,2,1,2,7,36,17,55
3,a,F,-1.0,-4.5,77.2,2.1,0.2,7.0,R,0.0,0.0,4.1,2,1,3,7,36,17,55
4,a,F,-1.4,-3.1,88.3,2.9,0.6,3.0,R,0.0,0.0,4.7,2,1,4,7,36,17,55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6475,c,G,7.1,-1.9,53.0,5.7,0.0,0.0,C,0.0,0.0,0.0,1,31,19,7,37,17,54
6476,c,G,6.7,-0.5,60.1,4.7,0.0,0.0,C,0.0,0.0,0.0,1,31,20,7,37,17,54
6477,c,G,6.2,-0.1,63.9,3.7,0.0,0.0,C,0.0,0.0,0.0,1,31,21,7,37,17,54
6478,c,G,6.5,0.8,67.1,4.8,0.0,0.0,C,0.0,0.0,0.0,1,31,22,7,37,17,54
6479,c,G,6.4,0.9,68.0,4.1,0.0,0.0,C,0.0,0.0,0.0,1,31,23,7,37,17,54

In [175]:
fall.to_csv('C:/Users/LG/Downloads/fall_new.csv')

In [176]:
winter.to_csv('C:/Users/LG/Downloads/winter_new.csv')

In [57]:
fall_test.to_csv('C:/Users/LG/Downloads/fall_test_new.csv')
winter_test.to_csv('C:/Users/LG/Downloads/winter_test_new.csv')